.error{
    border-color: #f44336 !important;
    margin:0px !important;
    box-shadow: inset 0 -2px 0 -1px #f44336 !important;
}
.form-group {
  margin-bottom: 1rem;
}
.form-inline .form-group {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 0;
}

.custom-select-lg + .form-text,
.floating-label-lg + .form-text,
.input-group-lg > .floating-label + .form-text,
.floating-label-lg .custom-select + .form-text,
.input-group-lg > .floating-label .custom-select + .form-text,
.floating-label-lg .form-control + .form-text,
.input-group-lg > .floating-label .form-control + .form-text,
.floating-label-lg .form-control-file + .form-text,
.input-group-lg > .floating-label .form-control-file + .form-text,
.form-control-lg + .form-text,
.textfield-box-lg + .form-text,
.input-group-lg > .textfield-box + .form-text,
.textfield-box-lg .custom-select + .form-text,
.input-group-lg > .textfield-box .custom-select + .form-text,
.textfield-box-lg .form-control + .form-text,
.input-group-lg > .textfield-box .form-control + .form-text,
.textfield-box-lg .form-control-file + .form-text,
.input-group-lg > .textfield-box .form-control-file + .form-text {
  margin-top: 0.75rem;
}

.custom-select-sm + .form-text,
.floating-label-sm + .form-text,
.input-group-sm > .floating-label + .form-text,
.floating-label-sm .custom-select + .form-text,
.input-group-sm > .floating-label .custom-select + .form-text,
.floating-label-sm .form-control + .form-text,
.input-group-sm > .floating-label .form-control + .form-text,
.floating-label-sm .form-control-file + .form-text,
.input-group-sm > .floating-label .form-control-file + .form-text,
.form-control-sm + .form-text,
.textfield-box-sm + .form-text,
.input-group-sm > .textfield-box + .form-text,
.textfield-box-sm .custom-select + .form-text,
.input-group-sm > .textfield-box .custom-select + .form-text,
.textfield-box-sm .form-control + .form-text,
.input-group-sm > .textfield-box .form-control + .form-text,
.textfield-box-sm .form-control-file + .form-text,
.input-group-sm > .textfield-box .form-control-file + .form-text {
  margin-top: 0.25rem;
}

.form-control-plaintext {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0 calc(0.375rem - 1px);
  width: 100%;
}

.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}


.picker-input.form-control[readonly] {
  border-bottom-style: solid;
  color: inherit;
  cursor: text;
}

.form-control, .custom-select, .form-control-file {
  background-clip: padding-box;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.42);
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0 calc(0.375rem - 1px);
  width: 100%;
}

.form-control:hover, .custom-select:hover, .form-control-file:hover {
  border-color: rgba(0, 0, 0, 0.87);
  box-shadow: inset 0 -2px 0 -1px rgba(0, 0, 0, 0.87);
}

.form-control::-ms-expand, .custom-select::-ms-expand, .form-control-file::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control::-webkit-input-placeholder, .custom-select::-webkit-input-placeholder, .form-control-file::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

.form-control::-moz-placeholder, .custom-select::-moz-placeholder, .form-control-file::-moz-placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

.form-control:-ms-input-placeholder, .custom-select:-ms-input-placeholder, .form-control-file:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

.form-control::-ms-input-placeholder, .custom-select::-ms-input-placeholder, .form-control-file::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

.form-control::placeholder, .custom-select::placeholder, .form-control-file::placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

.form-control:disabled, .custom-select:disabled, .form-control-file:disabled, .form-control[readonly], .custom-select[readonly], .form-control-file[readonly] {
  border-style: dotted;
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

.form-control:disabled:focus, .custom-select:disabled:focus, .form-control-file:disabled:focus, .form-control:disabled:hover, .custom-select:disabled:hover, .form-control-file:disabled:hover, .form-control[readonly]:focus, .custom-select[readonly]:focus, .form-control-file[readonly]:focus, .form-control[readonly]:hover, .custom-select[readonly]:hover, .form-control-file[readonly]:hover {
  border-color: rgba(0, 0, 0, 0.42);
  box-shadow: none;
}

.form-control:focus, .custom-select:focus, .form-control-file:focus {
  border-color: #ff4081;
  box-shadow: inset 0 -2px 0 -1px #ff4081;
  outline: 0;
}

.form-control:invalid:required, .custom-select:invalid:required, .form-control-file:invalid:required {
  outline: 0;
}

.form-control[type='file'] {
  max-height: 2.25rem;
}

.form-control-lg {
  font-size: 2.125rem;
  line-height: 1.176471;
  padding: 0.625rem 0 calc(0.625rem - 1px);
}

.form-control-lg[type='file'] {
  max-height: 3.75rem;
}

.form-control-sm {
  font-size: 0.8125rem;
  line-height: 1.538462;
  padding: 0.375rem 0 calc(0.375rem - 1px);
}

.form-control-sm[type='file'] {
  max-height: 2rem;
}

select.form-control, .custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@-moz-document url-prefix('') {
  select.form-control, .custom-select {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23000000" fill-opacity="0.54" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 1.5em;
  }
  select.form-control[multiple], .custom-select[multiple], select.form-control[size]:not([size='1']), .custom-select[size]:not([size='1']) {
    background-image: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 0) {
  select.form-control, .custom-select {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23000000" fill-opacity="0.54" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 1.5em;
  }
  select.form-control[multiple], .custom-select[multiple], select.form-control[size]:not([size='1']), .custom-select[size]:not([size='1']) {
    background-image: none;
  }
}

select.form-control[multiple], select.form-control[size]:not([size='1']), textarea.form-control:not([rows='1']), .custom-select[multiple], .custom-select[size]:not([size='1']) {
  border-radius: 4px;
  border-width: 1px;
  min-height: 3.5rem;
  padding: calc(1rem - 1px) 1rem;
}

select.form-control:hover[multiple], select.form-control:hover[size]:not([size='1']), textarea.form-control:hover:not([rows='1']), .custom-select:hover[multiple], .custom-select:hover[size]:not([size='1']) {
  box-shadow: inset 2px 2px 0 -1px rgba(0, 0, 0, 0.87), inset -2px -2px 0 -1px rgba(0, 0, 0, 0.87);
}

select.form-control:focus[multiple], select.form-control:focus[size]:not([size='1']), textarea.form-control:focus:not([rows='1']), .custom-select:focus[multiple], .custom-select:focus[size]:not([size='1']) {
  box-shadow: inset 2px 2px 0 -1px #ff4081, inset -2px -2px 0 -1px #ff4081;
}

select.form-control-lg[multiple], select.form-control-lg[size]:not([size='1']) {
  padding: calc(0.875rem - 1px) 1rem;
}

select.form-control-sm[multiple], select.form-control-sm[size]:not([size='1']) {
  padding: calc(0.75rem - 1px) 0.75rem;
}

textarea.form-control {
  min-height: 2.25rem;
}

textarea.form-control-lg {
  min-height: 3.75rem;
}

textarea.form-control-lg:not([rows='1']) {
  min-height: 4.25rem;
  padding: calc(0.875rem - 1px) 1rem;
}

textarea.form-control-sm {
  min-height: 2rem;
}

textarea.form-control-sm:not([rows='1']) {
  min-height: 2.75rem;
  padding: calc(0.75rem - 1px) 0.75rem;
}

.custom-file {
  display: inline-block;
  height: 2.25rem;
  margin-bottom: 0;
  position: relative;
  width: 100%;
}

.custom-file-input {
  height: 2.25rem;
  margin: 0;
  opacity: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.custom-file-input:focus ~ .custom-file-label, .custom-file-input:hover ~ .custom-file-label {
  border-bottom-color: #ff4081;
  box-shadow: inset 0 -2px 0 -1px #ff4081;
}

.custom-file-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition-duration: 0.3s;
  transition-property: border-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  color: rgba(0, 0, 0, 0.38);
  font-size: 1rem;
  height: 2.25rem;
  line-height: 1.5;
  padding: 0.375rem 2.25rem calc(0.375rem - 1px) 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}


.form-control-file {
  max-height: 2.25rem;
}

.form-control-range {
  display: block;
  width: 100%;
}

.invalid-feedback {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  color: #f44336;
  display: none;
  margin-top: 0.5rem;
  width: 100%;
}

.form-control-lg + .invalid-feedback {
  margin-top: 0.75rem;
}

.form-control-sm + .invalid-feedback {
  margin-top: 0.25rem;
}


.form-control-lg + .invalid-tooltip {
  margin-top: 0.75rem;
}

.form-control-sm + .invalid-tooltip {
  margin-top: 0.25rem;
}

.is-invalid.form-control, .is-invalid.custom-select, .is-invalid.form-control-file,
.was-validated .form-control:invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control-file:invalid {
  border-color: #f44336;
}

.is-invalid.form-control:focus, .is-invalid.custom-select:focus, .is-invalid.form-control-file:focus, .is-invalid.form-control:hover, .is-invalid.custom-select:hover, .is-invalid.form-control-file:hover,
.was-validated .form-control:invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control-file:invalid:focus,
.was-validated .form-control:invalid:hover,
.was-validated .custom-select:invalid:hover,
.was-validated .form-control-file:invalid:hover {
  border-color: #f44336;
  box-shadow: inset 0 -2px 0 -1px #f44336;
}

.is-invalid.form-control ~ .invalid-feedback, .is-invalid.custom-select ~ .invalid-feedback, .is-invalid.form-control-file ~ .invalid-feedback,
.is-invalid.form-control ~ .invalid-tooltip,
.is-invalid.custom-select ~ .invalid-tooltip,
.is-invalid.form-control-file ~ .invalid-tooltip,
.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .custom-select:invalid ~ .invalid-feedback,
.was-validated .form-control-file:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip,
.was-validated .custom-select:invalid ~ .invalid-tooltip,
.was-validated .form-control-file:invalid ~ .invalid-tooltip {
  display: block;
}

select.is-invalid.form-control:focus[multiple], select.is-invalid.form-control:focus[size]:not([size='1']), textarea.is-invalid.form-control:focus:not([rows='1']), .is-invalid.custom-select:focus[multiple], .is-invalid.custom-select:focus[size]:not([size='1']), select.is-invalid.form-control:hover[multiple], select.is-invalid.form-control:hover[size]:not([size='1']), textarea.is-invalid.form-control:hover:not([rows='1']), .is-invalid.custom-select:hover[multiple], .is-invalid.custom-select:hover[size]:not([size='1']),
.was-validated select.form-control:invalid:focus[multiple],
.was-validated select.form-control:invalid:focus[size]:not([size='1']),
.was-validated textarea.form-control:invalid:focus:not([rows='1']),
.was-validated .custom-select:invalid:focus[multiple],
.was-validated .custom-select:invalid:focus[size]:not([size='1']),
.was-validated select.form-control:invalid:hover[multiple],
.was-validated select.form-control:invalid:hover[size]:not([size='1']),
.was-validated textarea.form-control:invalid:hover:not([rows='1']),
.was-validated .custom-select:invalid:hover[multiple],
.was-validated .custom-select:invalid:hover[size]:not([size='1']) {
  box-shadow: inset 2px 2px 0 -1px #f44336, inset -2px -2px 0 -1px #f44336;
}

.textfield-box select.is-invalid.form-control:focus[multiple], .textfield-box select.is-invalid.form-control:focus[size]:not([size='1']), .textfield-box textarea.is-invalid.form-control:focus:not([rows='1']), .textfield-box .is-invalid.custom-select:focus[multiple], .textfield-box .is-invalid.custom-select:focus[size]:not([size='1']), .textfield-box select.is-invalid.form-control:hover[multiple], .textfield-box select.is-invalid.form-control:hover[size]:not([size='1']), .textfield-box textarea.is-invalid.form-control:hover:not([rows='1']), .textfield-box .is-invalid.custom-select:hover[multiple], .textfield-box .is-invalid.custom-select:hover[size]:not([size='1']),
.was-validated .textfield-box select.form-control:invalid:focus[multiple],
.was-validated .textfield-box select.form-control:invalid:focus[size]:not([size='1']),
.was-validated .textfield-box textarea.form-control:invalid:focus:not([rows='1']),
.was-validated .textfield-box .custom-select:invalid:focus[multiple],
.was-validated .textfield-box .custom-select:invalid:focus[size]:not([size='1']),
.was-validated .textfield-box select.form-control:invalid:hover[multiple],
.was-validated .textfield-box select.form-control:invalid:hover[size]:not([size='1']),
.was-validated .textfield-box textarea.form-control:invalid:hover:not([rows='1']),
.was-validated .textfield-box .custom-select:invalid:hover[multiple],
.was-validated .textfield-box .custom-select:invalid:hover[size]:not([size='1']) {
  box-shadow: inset 0 -2px 0 -1px #f44336;
}

.valid-feedback {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  color: #4caf50;
  display: none;
  margin-top: 0.5rem;
  width: 100%;
}

.form-control-lg + .valid-feedback {
  margin-top: 0.75rem;
}

.form-control-sm + .valid-feedback {
  margin-top: 0.25rem;
}



.form-control-lg + .valid-tooltip {
  margin-top: 0.75rem;
}

.form-control-sm + .valid-tooltip {
  margin-top: 0.25rem;
}

.is-valid.form-control, .is-valid.custom-select, .is-valid.form-control-file,
.was-validated .form-control:valid,
.was-validated .custom-select:valid,
.was-validated .form-control-file:valid {
  border-color: #4caf50;
}

.is-valid.form-control:focus, .is-valid.custom-select:focus, .is-valid.form-control-file:focus, .is-valid.form-control:hover, .is-valid.custom-select:hover, .is-valid.form-control-file:hover,
.was-validated .form-control:valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control-file:valid:focus,
.was-validated .form-control:valid:hover,
.was-validated .custom-select:valid:hover,
.was-validated .form-control-file:valid:hover {
  border-color: #4caf50;
  box-shadow: inset 0 -2px 0 -1px #4caf50;
}

.is-valid.form-control ~ .valid-feedback, .is-valid.custom-select ~ .valid-feedback, .is-valid.form-control-file ~ .valid-feedback,
.is-valid.form-control ~ .valid-tooltip,
.is-valid.custom-select ~ .valid-tooltip,
.is-valid.form-control-file ~ .valid-tooltip,
.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .custom-select:valid ~ .valid-feedback,
.was-validated .form-control-file:valid ~ .valid-feedback,
.was-validated .form-control:valid ~ .valid-tooltip,
.was-validated .custom-select:valid ~ .valid-tooltip,
.was-validated .form-control-file:valid ~ .valid-tooltip {
  display: block;
}

select.is-valid.form-control:focus[multiple], select.is-valid.form-control:focus[size]:not([size='1']), textarea.is-valid.form-control:focus:not([rows='1']), .is-valid.custom-select:focus[multiple], .is-valid.custom-select:focus[size]:not([size='1']), select.is-valid.form-control:hover[multiple], select.is-valid.form-control:hover[size]:not([size='1']), textarea.is-valid.form-control:hover:not([rows='1']), .is-valid.custom-select:hover[multiple], .is-valid.custom-select:hover[size]:not([size='1']),
.was-validated select.form-control:valid:focus[multiple],
.was-validated select.form-control:valid:focus[size]:not([size='1']),
.was-validated textarea.form-control:valid:focus:not([rows='1']),
.was-validated .custom-select:valid:focus[multiple],
.was-validated .custom-select:valid:focus[size]:not([size='1']),
.was-validated select.form-control:valid:hover[multiple],
.was-validated select.form-control:valid:hover[size]:not([size='1']),
.was-validated textarea.form-control:valid:hover:not([rows='1']),
.was-validated .custom-select:valid:hover[multiple],
.was-validated .custom-select:valid:hover[size]:not([size='1']) {
  box-shadow: inset 2px 2px 0 -1px #4caf50, inset -2px -2px 0 -1px #4caf50;
}

.textfield-box select.is-valid.form-control:focus[multiple], .textfield-box select.is-valid.form-control:focus[size]:not([size='1']), .textfield-box textarea.is-valid.form-control:focus:not([rows='1']), .textfield-box .is-valid.custom-select:focus[multiple], .textfield-box .is-valid.custom-select:focus[size]:not([size='1']), .textfield-box select.is-valid.form-control:hover[multiple], .textfield-box select.is-valid.form-control:hover[size]:not([size='1']), .textfield-box textarea.is-valid.form-control:hover:not([rows='1']), .textfield-box .is-valid.custom-select:hover[multiple], .textfield-box .is-valid.custom-select:hover[size]:not([size='1']),
.was-validated .textfield-box select.form-control:valid:focus[multiple],
.was-validated .textfield-box select.form-control:valid:focus[size]:not([size='1']),
.was-validated .textfield-box textarea.form-control:valid:focus:not([rows='1']),
.was-validated .textfield-box .custom-select:valid:focus[multiple],
.was-validated .textfield-box .custom-select:valid:focus[size]:not([size='1']),
.was-validated .textfield-box select.form-control:valid:hover[multiple],
.was-validated .textfield-box select.form-control:valid:hover[size]:not([size='1']),
.was-validated .textfield-box textarea.form-control:valid:hover:not([rows='1']),
.was-validated .textfield-box .custom-select:valid:hover[multiple],
.was-validated .textfield-box .custom-select:valid:hover[size]:not([size='1']) {
  box-shadow: inset 0 -2px 0 -1px #4caf50;
}

.textfield-box .form-control, .textfield-box .custom-select, .textfield-box .form-control-file {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 1rem 1rem calc(1rem - 1px);
}

.textfield-box select.form-control, .textfield-box .custom-select {
  padding-right: 1.5em;
}

.textfield-box select.form-control[multiple], .textfield-box select.form-control[size]:not([size='1']), .textfield-box textarea.form-control:not([rows='1']), .textfield-box .custom-select[multiple], .textfield-box .custom-select[size]:not([size='1']) {
  border-width: 0 0 1px;
  padding: 1rem 1rem calc(1rem - 1px);
}

.textfield-box select.form-control:hover[multiple], .textfield-box select.form-control:hover[size]:not([size='1']), .textfield-box textarea.form-control:hover:not([rows='1']), .textfield-box .custom-select:hover[multiple], .textfield-box .custom-select:hover[size]:not([size='1']) {
  box-shadow: inset 0 -2px 0 -1px rgba(0, 0, 0, 0.87);
}

.textfield-box select.form-control:focus[multiple], .textfield-box select.form-control:focus[size]:not([size='1']), .textfield-box textarea.form-control:focus:not([rows='1']), .textfield-box .custom-select:focus[multiple], .textfield-box .custom-select:focus[size]:not([size='1']) {
  box-shadow: inset 0 -2px 0 -1px #ff4081;
}

.textfield-box textarea.form-control {
  min-height: 3.5rem;
}

.textfield-box .form-control[type='file'],
.textfield-box .form-control-file {
  max-height: 3.5rem;
}

.textfield-box-lg .form-control, .input-group-lg > .textfield-box .form-control, .textfield-box-lg .custom-select, .input-group-lg > .textfield-box .custom-select, .textfield-box-lg .form-control-file, .input-group-lg > .textfield-box .form-control-file {
  font-size: 2.125rem;
  line-height: 1.176471;
  padding: 0.875rem 1rem calc(0.875rem - 1px);
}

.textfield-box-lg select.form-control[multiple], .input-group-lg > .textfield-box select.form-control[multiple], .textfield-box-lg select.form-control[size]:not([size='1']), .input-group-lg > .textfield-box select.form-control[size]:not([size='1']), .textfield-box-lg textarea.form-control:not([rows='1']), .input-group-lg > .textfield-box textarea.form-control:not([rows='1']), .textfield-box-lg .custom-select[multiple], .input-group-lg > .textfield-box .custom-select[multiple], .textfield-box-lg .custom-select[size]:not([size='1']), .input-group-lg > .textfield-box .custom-select[size]:not([size='1']) {
  padding: 0.875rem 1rem calc(0.875rem - 1px);
}

.textfield-box-lg textarea.form-control, .input-group-lg > .textfield-box textarea.form-control {
  min-height: 4.25rem;
}

.textfield-box-lg .custom-select, .input-group-lg > .textfield-box .custom-select {
  padding-right: 1.5em;
}

.textfield-box-lg .form-control[type='file'], .input-group-lg > .textfield-box .form-control[type='file'],
.textfield-box-lg .form-control-file,
.input-group-lg > .textfield-box .form-control-file {
  max-height: 4.25rem;
}

.textfield-box-sm .form-control, .input-group-sm > .textfield-box .form-control, .textfield-box-sm .custom-select, .input-group-sm > .textfield-box .custom-select, .textfield-box-sm .form-control-file, .input-group-sm > .textfield-box .form-control-file {
  font-size: 0.8125rem;
  line-height: 1.538462;
  padding: 0.75rem 0.75rem calc(0.75rem - 1px);
}

.textfield-box-sm select.form-control[multiple], .input-group-sm > .textfield-box select.form-control[multiple], .textfield-box-sm select.form-control[size]:not([size='1']), .input-group-sm > .textfield-box select.form-control[size]:not([size='1']), .textfield-box-sm textarea.form-control:not([rows='1']), .input-group-sm > .textfield-box textarea.form-control:not([rows='1']), .textfield-box-sm .custom-select[multiple], .input-group-sm > .textfield-box .custom-select[multiple], .textfield-box-sm .custom-select[size]:not([size='1']), .input-group-sm > .textfield-box .custom-select[size]:not([size='1']) {
  padding: 0.75rem 0.75rem calc(0.75rem - 1px);
}

.textfield-box-sm textarea.form-control, .input-group-sm > .textfield-box textarea.form-control {
  min-height: 2.75rem;
}

.textfield-box-sm .custom-select, .input-group-sm > .textfield-box .custom-select {
  padding-right: 1.5em;
}

.textfield-box-sm .form-control[type='file'], .input-group-sm > .textfield-box .form-control[type='file'],
.textfield-box-sm .form-control-file,
.input-group-sm > .textfield-box .form-control-file {
  max-height: 2.75rem;
}


.floating-label:not(.has-value):not(.is-focused) .form-control[type='date'], .floating-label:not(.has-value):not(.is-focused) .form-control[type='datetime-local'], .floating-label:not(.has-value):not(.is-focused) .form-control[type='time'] {
  color: transparent;
}



.floating-label .form-control, .floating-label .custom-select, .floating-label .form-control-file {
  position: relative;
}

.floating-label .form-control:focus::-webkit-input-placeholder, .floating-label .custom-select:focus::-webkit-input-placeholder, .floating-label .form-control-file:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

.floating-label .form-control:focus::-moz-placeholder, .floating-label .custom-select:focus::-moz-placeholder, .floating-label .form-control-file:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

.floating-label .form-control:focus:-ms-input-placeholder, .floating-label .custom-select:focus:-ms-input-placeholder, .floating-label .form-control-file:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

.floating-label .form-control:focus::-ms-input-placeholder, .floating-label .custom-select:focus::-ms-input-placeholder, .floating-label .form-control-file:focus::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

.floating-label .form-control:focus::placeholder, .floating-label .custom-select:focus::placeholder, .floating-label .form-control-file:focus::placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

.floating-label .form-control::-webkit-input-placeholder, .floating-label .custom-select::-webkit-input-placeholder, .floating-label .form-control-file::-webkit-input-placeholder {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: transparent;
  opacity: 0;
}

.floating-label .form-control::-moz-placeholder, .floating-label .custom-select::-moz-placeholder, .floating-label .form-control-file::-moz-placeholder {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: transparent;
  opacity: 0;
}

.floating-label .form-control:-ms-input-placeholder, .floating-label .custom-select:-ms-input-placeholder, .floating-label .form-control-file:-ms-input-placeholder {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: transparent;
  opacity: 0;
}

.floating-label .form-control::-ms-input-placeholder, .floating-label .custom-select::-ms-input-placeholder, .floating-label .form-control-file::-ms-input-placeholder {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: transparent;
  opacity: 0;
}

.floating-label .form-control::placeholder, .floating-label .custom-select::placeholder, .floating-label .form-control-file::placeholder {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: transparent;
  opacity: 0;
}

@media (min-width: 576px) {
  .floating-label .form-control::-webkit-input-placeholder, .floating-label .custom-select::-webkit-input-placeholder, .floating-label .form-control-file::-webkit-input-placeholder {
    transition-duration: 0.39s;
  }
  .floating-label .form-control::-moz-placeholder, .floating-label .custom-select::-moz-placeholder, .floating-label .form-control-file::-moz-placeholder {
    transition-duration: 0.39s;
  }
  .floating-label .form-control:-ms-input-placeholder, .floating-label .custom-select:-ms-input-placeholder, .floating-label .form-control-file:-ms-input-placeholder {
    transition-duration: 0.39s;
  }
  .floating-label .form-control::-ms-input-placeholder, .floating-label .custom-select::-ms-input-placeholder, .floating-label .form-control-file::-ms-input-placeholder {
    transition-duration: 0.39s;
  }
  .floating-label .form-control::placeholder, .floating-label .custom-select::placeholder, .floating-label .form-control-file::placeholder {
    transition-duration: 0.39s;
  }
}

@media (min-width: 992px) {
  .floating-label .form-control::-webkit-input-placeholder, .floating-label .custom-select::-webkit-input-placeholder, .floating-label .form-control-file::-webkit-input-placeholder {
    transition-duration: 0.2s;
  }
  .floating-label .form-control::-moz-placeholder, .floating-label .custom-select::-moz-placeholder, .floating-label .form-control-file::-moz-placeholder {
    transition-duration: 0.2s;
  }
  .floating-label .form-control:-ms-input-placeholder, .floating-label .custom-select:-ms-input-placeholder, .floating-label .form-control-file:-ms-input-placeholder {
    transition-duration: 0.2s;
  }
  .floating-label .form-control::-ms-input-placeholder, .floating-label .custom-select::-ms-input-placeholder, .floating-label .form-control-file::-ms-input-placeholder {
    transition-duration: 0.2s;
  }
  .floating-label .form-control::placeholder, .floating-label .custom-select::placeholder, .floating-label .form-control-file::placeholder {
    transition-duration: 0.2s;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .floating-label .form-control::-webkit-input-placeholder, .floating-label .custom-select::-webkit-input-placeholder, .floating-label .form-control-file::-webkit-input-placeholder {
    transition: none;
  }
  .floating-label .form-control::-moz-placeholder, .floating-label .custom-select::-moz-placeholder, .floating-label .form-control-file::-moz-placeholder {
    transition: none;
  }
  .floating-label .form-control:-ms-input-placeholder, .floating-label .custom-select:-ms-input-placeholder, .floating-label .form-control-file:-ms-input-placeholder {
    transition: none;
  }
  .floating-label .form-control::-ms-input-placeholder, .floating-label .custom-select::-ms-input-placeholder, .floating-label .form-control-file::-ms-input-placeholder {
    transition: none;
  }
  .floating-label .form-control::placeholder, .floating-label .custom-select::placeholder, .floating-label .form-control-file::placeholder {
    transition: none;
  }
}

.floating-label-lg.has-value label, .input-group-lg > .has-value.floating-label label,
.floating-label-lg.is-focused label,
.input-group-lg > .is-focused.floating-label label {
  -webkit-transform: scale(0.411765);
  transform: scale(0.411765);
}

.floating-label-lg label, .input-group-lg > .floating-label label {
  font-size: 2.125rem;
  line-height: 1.176471;
  top: 1.5rem;
}

.floating-label-lg .form-control, .input-group-lg > .floating-label .form-control, .floating-label-lg .custom-select, .input-group-lg > .floating-label .custom-select, .floating-label-lg .form-control-file, .input-group-lg > .floating-label .form-control-file {
  font-size: 2.125rem;
  line-height: 1.176471;
  padding: 0.625rem 0 calc(0.625rem - 1px);
}

.floating-label-lg select.form-control, .input-group-lg > .floating-label select.form-control, .floating-label-lg .custom-select, .input-group-lg > .floating-label .custom-select {
  padding-right: 1.5em;
}

.floating-label-lg select.form-control[multiple], .input-group-lg > .floating-label select.form-control[multiple], .floating-label-lg select.form-control[size]:not([size='1']), .input-group-lg > .floating-label select.form-control[size]:not([size='1']), .floating-label-lg textarea.form-control:not([rows='1']), .input-group-lg > .floating-label textarea.form-control:not([rows='1']), .floating-label-lg .custom-select[multiple], .input-group-lg > .floating-label .custom-select[multiple], .floating-label-lg .custom-select[size]:not([size='1']), .input-group-lg > .floating-label .custom-select[size]:not([size='1']) {
  padding: 0.875rem 1rem calc(0.875rem - 1px);
}

.floating-label-sm.has-value label, .input-group-sm > .has-value.floating-label label,
.floating-label-sm.is-focused label,
.input-group-sm > .is-focused.floating-label label {
  -webkit-transform: scale(0.769231);
  transform: scale(0.769231);
}

.floating-label-sm label, .input-group-sm > .floating-label label {
  font-size: 0.8125rem;
  line-height: 1.538462;
  top: 1.0rem;
}

.floating-label-sm .form-control, .input-group-sm > .floating-label .form-control, .floating-label-sm .custom-select, .input-group-sm > .floating-label .custom-select, .floating-label-sm .form-control-file, .input-group-sm > .floating-label .form-control-file {
  font-size: 0.8125rem;
  line-height: 1.538462;
  padding: 0.375rem 0 calc(0.375rem - 1px);
}

.floating-label-sm select.form-control, .input-group-sm > .floating-label select.form-control, .floating-label-sm .custom-select, .input-group-sm > .floating-label .custom-select {
  padding-right: 1.5em;
}

.floating-label-sm select.form-control[multiple], .input-group-sm > .floating-label select.form-control[multiple], .floating-label-sm select.form-control[size]:not([size='1']), .input-group-sm > .floating-label select.form-control[size]:not([size='1']), .floating-label-sm textarea.form-control:not([rows='1']), .input-group-sm > .floating-label textarea.form-control:not([rows='1']), .floating-label-sm .custom-select[multiple], .input-group-sm > .floating-label .custom-select[multiple], .floating-label-sm .custom-select[size]:not([size='1']), .input-group-sm > .floating-label .custom-select[size]:not([size='1']) {
  padding: 0.75rem 0.75rem calc(0.75rem - 1px);
}


.floating-label.textfield-box .form-control, .floating-label.textfield-box .custom-select, .floating-label.textfield-box .form-control-file,
.floating-label.textfield-box select.form-control[multiple],
.floating-label.textfield-box select.form-control[size]:not([size='1']),
.floating-label.textfield-box textarea.form-control:not([rows='1']),
.floating-label.textfield-box .custom-select[multiple],
.floating-label.textfield-box .custom-select[size]:not([size='1']) {
  padding-top: 1.5rem;
}

.floating-label.textfield-box .form-control, .floating-label.textfield-box .custom-select, .floating-label.textfield-box .form-control-file {
  padding-bottom: calc(0.5rem - 1px);
}

.floating-label-lg.textfield-box label, .input-group-lg > .textfield-box.floating-label label {
  top: 0.875rem;
  left: 1rem;
}

.floating-label-lg.textfield-box .form-control, .input-group-lg > .textfield-box.floating-label .form-control, .floating-label-lg.textfield-box .custom-select, .input-group-lg > .textfield-box.floating-label .custom-select, .floating-label-lg.textfield-box .form-control-file, .input-group-lg > .textfield-box.floating-label .form-control-file,
.floating-label-lg.textfield-box select.form-control[multiple],
.input-group-lg > .textfield-box.floating-label select.form-control[multiple],
.floating-label-lg.textfield-box select.form-control[size]:not([size='1']),
.input-group-lg > .textfield-box.floating-label select.form-control[size]:not([size='1']),
.floating-label-lg.textfield-box textarea.form-control:not([rows='1']),
.input-group-lg > .textfield-box.floating-label textarea.form-control:not([rows='1']),
.floating-label-lg.textfield-box .custom-select[multiple],
.input-group-lg > .textfield-box.floating-label .custom-select[multiple],
.floating-label-lg.textfield-box .custom-select[size]:not([size='1']),
.input-group-lg > .textfield-box.floating-label .custom-select[size]:not([size='1']) {
  padding-top: 1.249999rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.floating-label-lg.textfield-box select.form-control, .input-group-lg > .textfield-box.floating-label select.form-control, .floating-label-lg.textfield-box .custom-select, .input-group-lg > .textfield-box.floating-label .custom-select {
  padding-right: 1.5em;
}

.floating-label-sm.textfield-box label, .input-group-sm > .textfield-box.floating-label label {
  top: 0.75rem;
  left: 0.75rem;
}

.floating-label-sm.textfield-box .form-control, .input-group-sm > .textfield-box.floating-label .form-control, .floating-label-sm.textfield-box .custom-select, .input-group-sm > .textfield-box.floating-label .custom-select, .floating-label-sm.textfield-box .form-control-file, .input-group-sm > .textfield-box.floating-label .form-control-file,
.floating-label-sm.textfield-box select.form-control[multiple],
.input-group-sm > .textfield-box.floating-label select.form-control[multiple],
.floating-label-sm.textfield-box select.form-control[size]:not([size='1']),
.input-group-sm > .textfield-box.floating-label select.form-control[size]:not([size='1']),
.floating-label-sm.textfield-box textarea.form-control:not([rows='1']),
.input-group-sm > .textfield-box.floating-label textarea.form-control:not([rows='1']),
.floating-label-sm.textfield-box .custom-select[multiple],
.input-group-sm > .textfield-box.floating-label .custom-select[multiple],
.floating-label-sm.textfield-box .custom-select[size]:not([size='1']),
.input-group-sm > .textfield-box.floating-label .custom-select[size]:not([size='1']) {
  padding-top: 1.0rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.floating-label-sm.textfield-box select.form-control, .input-group-sm > .textfield-box.floating-label select.form-control, .floating-label-sm.textfield-box .custom-select, .input-group-sm > .textfield-box.floating-label .custom-select {
  padding-right: 1.5em;
}

.input-group {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .floating-label,
.input-group > .form-control,
.input-group > .form-control-file,
.input-group > .textfield-box {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 0;
  width: 1%;
}


.input-group > .custom-file + .custom-file,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .floating-label,
.input-group > .custom-file + .form-control,
.input-group > .custom-file + .form-control-file,
.input-group > .custom-file + .textfield-box,
.input-group > .custom-select + .custom-file,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .floating-label,
.input-group > .custom-select + .form-control,
.input-group > .custom-select + .form-control-file,
.input-group > .custom-select + .textfield-box,
.input-group > .floating-label + .custom-file,
.input-group > .floating-label + .custom-select,
.input-group > .floating-label + .floating-label,
.input-group > .floating-label + .form-control,
.input-group > .floating-label + .form-control-file,
.input-group > .floating-label + .textfield-box,
.input-group > .form-control + .custom-file,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .floating-label,
.input-group > .form-control + .form-control,
.input-group > .form-control + .form-control-file,
.input-group > .form-control + .textfield-box,
.input-group > .form-control-file + .custom-file,
.input-group > .form-control-file + .custom-select,
.input-group > .form-control-file + .floating-label,
.input-group > .form-control-file + .form-control,
.input-group > .form-control-file + .form-control-file,
.input-group > .form-control-file + .textfield-box,
.input-group > .textfield-box + .custom-file,
.input-group > .textfield-box + .custom-select,
.input-group > .textfield-box + .floating-label,
.input-group > .textfield-box + .form-control,
.input-group > .textfield-box + .form-control-file,
.input-group > .textfield-box + .textfield-box {
  margin-left: 1rem;
}



.floating-label.is-focused ~ .input-group-icon,
.form-control:focus ~ .input-group-icon {
  color: #ff4081;
}

.floating-label:not(.textfield-box) ~ .input-group-icon {
  margin-top: 0.75rem;
}

.input-group-lg > .floating-label.has-value label,
.input-group-lg > .floating-label.is-focused label {
  top: 0;
}

.input-group-lg > .floating-label.textfield-box.has-value label,
.input-group-lg > .floating-label.textfield-box.is-focused label {
  top: 0.5rem;
}

.input-group-lg > .floating-label:not(.textfield-box) ~ .input-group-icon {
  margin-top: 0.875rem;
}

.input-group-lg > .form-control, .input-group-lg > .custom-select, .input-group-lg > .form-control-file {
  font-size: 2.125rem;
  line-height: 1.176471;
  padding: 0.625rem 0 calc(0.625rem - 1px);
}

.input-group-lg > select.form-control, .input-group-lg > .custom-select {
  padding-right: 1.5em;
}

.input-group-lg > select.form-control[multiple], .input-group-lg > select.form-control[size]:not([size='1']), .input-group-lg > textarea.form-control:not([rows='1']), .input-group-lg > .custom-select[multiple], .input-group-lg > .custom-select[size]:not([size='1']) {
  padding: 0.875rem 1rem calc(0.875rem - 1px);
}

.input-group-lg > .form-control[type='file'],
.input-group-lg > .form-control-file {
  max-height: 4.25rem;
}

.input-group-sm > .form-control, .input-group-sm > .custom-select, .input-group-sm > .form-control-file {
  font-size: 0.8125rem;
  line-height: 1.538462;
  padding: 0.375rem 0 calc(0.375rem - 1px);
}

.input-group-sm > select.form-control, .input-group-sm > .custom-select {
  padding-right: 1.5em;
}

.input-group-sm > select.form-control[multiple], .input-group-sm > select.form-control[size]:not([size='1']), .input-group-sm > textarea.form-control:not([rows='1']), .input-group-sm > .custom-select[multiple], .input-group-sm > .custom-select[size]:not([size='1']) {
  padding: 0.75rem 0.75rem calc(0.75rem - 1px);
}

.input-group-sm > .form-control[type='file'],
.input-group-sm > .form-control-file {
  max-height: 2.75rem;
}


.navbar .form-control {
  border-radius: 2px;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.12);
  border: 0;
  color: inherit;
  opacity: 0.7;
  padding: 0.375rem 1rem;
}

@media (min-width: 576px) {
  .navbar .form-control {
    transition-duration: 0.39s;
  }
}

@media (min-width: 992px) {
  .navbar .form-control {
    transition-duration: 0.2s;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .navbar .form-control {
    transition: none;
  }
}

.navbar .form-control:focus, .navbar .form-control:hover {
  box-shadow: none;
  opacity: 1;
}

.navbar .form-control-lg {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.navbar .form-control-sm {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}



.navbar-dark .form-control,
.navbar-dark .input-group,
.navbar-dark .navbar-brand::before,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-toggler::before {
  background-color: rgba(255, 255, 255, 0.12);
}

.navbar-dark .form-control::-webkit-input-placeholder,
.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .form-control::-moz-placeholder,
.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .form-control:-ms-input-placeholder,
.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .form-control::-ms-input-placeholder,
.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .form-control::placeholder,
.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.5);
}